
<h1>
  About -- Developers
</h1>
<h3>
  Skeleton developed by:
</h3>
<ul>
  <li>Tim Hickey</li>
  <li>Jiaxin Li</li>
</ul>
<h3>
  Project by:
</h3>
<ul>
  <li>Shai Shkolnik</li>
  <li>Ben Bar Zvi</li>
  <li>Zachary Boroda</li>
  <li>Eric Hu</li>
  <li>Ava Harnick</li>
</ul>

